<% layout("layout/boilerplate") %>
<a href="/"> <H2>< Kembali</H2> </a>
<div class="detail">
    <img class="poster" src="https://image.tmdb.org/t/p/w220_and_h330_face<%= data.link_cover %>" srcset="/t/p/w220_and_h330_face<%= data.link_cover %> 2x" alt="<%= data.judul %>">
    <h3><%= data.judul %> (<%= data.tahunRilis %>) | <%= data.durasi %> Menit</h3>
    <div class="container-fluid d-flex mx-3 aligin-item-left">
    <% for(let genre of data.genre) { %>
        <div class="btn btn-secondary-outline">
            <p><%= genre %></p>
        </div>
    <% } %>
    </div>
    <p><%= data.sinopsis %></p>
</div>