<% layout("layout/boilerplate") %>
    <div class="container-fluid">
        <a href="/">
            <h2>< Kembali</h2>
        </a>
        <br>
        <div class="wrapper">
            <h2>Daftar film populer (dummy) ></h2> 
            <div class="row">
                <% for (let film of films) { %>
                            <div class="poster card"style="width: 10rem;">
                                <a  href="/film/<%= film.id %>" title="<%= film.judul %>">
                                <img src="https://image.tmdb.org/t/p/w220_and_h330_face<%= film.link_cover %>" class="card-img-top" srcset="/t/p/w220_and_h330_face<%= film.link_cover %> 2x" alt="<%= film.judul %>">
                                <div class="card-body">
                                <h5 class="card-title"><%= film.judul %></h5>
                                <p class="card-text"><%= film.tahunRilis %> | <%= film.rating  %></p>
                                </div></a>
                            </div>
                    <% } %>
            </div>
        </div>
    </div>