<% layout("layout/boilerplate") %>
    <div class="container-fluid">
        <a href="/">
            <h2>
                < Kembali</h2>
        </a>
        <br>
        <% if(!currentUser){ %>
            <h2 id="header">Masuk Untuk Mendapatkan Rekomendasi Film</h2>
            <% } else if(!hasKatalog){%>
                <h2 id="header">Isi Katalog Anda untuk Mendapatkan Rekomendasi Film</h2>
                <% }else{ %>
                    <div class="wrapper">
                        <h2 id="header">Daftar Film Rekomendasi</h2>
                        <div class="row">
                            <% for (let film of films) { %>
                                <div class="poster card" style="width: 10rem;">
                                    <a href="/film/<%= film.id %>" title="<%= film.judul %>">
                                        <img src="https://image.tmdb.org/t/p/w220_and_h330_face<%= film.link_cover %>"
                                            class="card-img-top"
                                            srcset="/t/p/w220_and_h330_face<%= film.link_cover %> 2x"
                                            alt="<%= film.judul %>">
                                        <div class="card-body">
                                            <h5 class="card-title two-line">
                                                <%= film.judul %>
                                            </h5>
                                            <p class="card-text">
                                                <%= film.tahunRilis %> | <img src="/icon/rating.svg" class="rating">
                                                    <%= film.rating.toFixed(1) %>
                                            </p>
                                        </div>
                                    </a>
                                </div>
                                <% } %>
                        </div>
                    </div>
    </div>


    <!-- Bootstrap Pagination -->
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <% if (hasPreviousPage) { %>
                <li class="page-item">
                    <a class="page-link" href="?page=<%= previousPage %>" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <% } %>

                    <% let earliestIndex=currentPage-5 %>
                        <% let temp=0 %>
                            <% if(earliestIndex < 0){ %>
                                <% temp=-1 * earliestIndex %>
                                    <% earliestIndex=earliestIndex + temp + 1 %>
                                        <% } %>
                                            <% let lastIndex=currentPage+5+temp %>
                                                <% if(lastIndex> lastPage){ %>
                                                    <% earliestIndex=earliestIndex - (lastIndex-lastPage)%>
                                                        <% lastIndex=lastPage%>
                                                            <% }%>

                                                                <% for (let i=earliestIndex; i <=lastIndex; i++) { %>
                                                                    <% if(i> 0) {%>
                                                                        <li
                                                                            class="page-item <%= i === currentPage ? 'active' : '' %>">
                                                                            <a class="page-link" href="?page=<%= i %>">
                                                                                <%= i %>
                                                                            </a>
                                                                        </li>
                                                                        <% } %>
                                                                            <% } %>

                                                                                <% if (hasNextPage) { %>
                                                                                    <li class="page-item">
                                                                                        <a class="page-link"
                                                                                            href="?page=<%= nextPage %>"
                                                                                            aria-label="Next">
                                                                                            <span
                                                                                                aria-hidden="true">&raquo;</span>
                                                                                        </a>
                                                                                    </li>
                                                                                    <% } %>
        </ul>
    </nav>
    <% } %>
    