<% layout('layout/boilerplate') %>
<link rel="stylesheet" href="/stylesheets/katalog.css">
    <div class="container-fluid">
        <a href="/">
            <h2>
                < Kembali</h2>
        </a>
        <br>
        <div class="wrapper">
            <div class="d-flex justify-content-between align-items-center" id="header">
                <h2>Katalog Saya</h2>
                <a href="/katalog/edit/" class="btn btn-primary">Ubah</a>
            </div>
            <% for (let katalog of katalogs) { %>
                <a href="/katalog/<%= katalog.id %>" title="<%= katalog.judul %>">
                    <div class="list" id="elmKatalog">
                        <div class="row">
                            <h3><%= katalog.judul %></h3>
                            <div class="list" style="width: 46rem;"
                                <p><%= katalog.deskripsi %></p>
                            </div>

                            <% count = 0 %>                            
                            <% for(let film of katalog.film) { %>
                                <div class="list" style="width: 6rem;">
                                    <img src="https://image.tmdb.org/t/p/w220_and_h330_face<%= film.link_cover %>"
                                    class="card-img-top" srcset="/t/p/w220_and_h330_face<%= film.link_cover %> 4x"
                                    alt="<%= film.judul %>">
                                    

                                    
                                </div>
                                <% count+=1 %>
                                <% if(count >= 4) { %>
                                    <% break; %>
                                    <% } %>
                                    <% } %>
                        </div>
                    </div>
                </a>
            <% } %>
        </div>
    </div>